*{
    padding: 0;
    margin: 0;
    outline: none;
}


$for-color: #F16D7F;

a {
    text-decoration: none;
}

summary{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

//index.html start

.header {
    background: #222222;
    height: 75px;

    .menu {
        display: flex;
        justify-content: space-between;
        height: 75px;
        align-items: center;
    }

    .menu_left {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style-type: none;


        .menu_left__item_2 {
            margin-left: 41px;
        }
    }

    .menu_right {
        display: flex;
        justify-content: right;
        align-items: center;
        list-style-type: none;

        .menu_right__item_1 {
            margin-right: 33px;
            position: relative;
        }

        .menu_right__item_2 {
            margin-right: 33px;
        }

        .mega-box {
            z-index: 3;
            background: #FFFFFF;
            position: absolute;
            width: 232px;
            top: 22px;
            height: 764px;
            display: none;
        }

        .menu-x {
            margin-top: 16px;
            margin-left: 203px;
            margin-bottom: 9px;
            display: block;
        }

        .mega-menu {
            width: 55px;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-left: 34px;
        }

        .mega-heading {
            margin-top: 24px;
            font-size: 14px;
            color: #F16D7F;
            text-transform: uppercase;
            width: 55px;
            padding-left: 33px;
        }

        .mega-link {
            display: block;
            color: #6F6E6E;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            margin-top: 11px;
            padding-left: 54px;
        }

        .mega-link:hover {
            color: #F16D7F;
        }



        .menu_right__item_1:hover .mega-box {
            display: flex;
            flex-direction: column;
        }

        .menu-x:active .mega-box {
            display: none;
        }
    }
}

.content {

    .top {
        background: #F1E4E6;
        height: 764px;

        .top__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .top__item__text {
                display: flex;
                align-items: center;
                margin-right: 60px;
            }

            .rectangle {
                width: 12px;
                height: 92px;
                background: #F16D7F;
                margin-right: 16px;
            }

            .h1__brand {
                font-size: 44px;
            }

            .h1__top {
                width: 377px;
                font-size: 28px;
            }

            .h1__top__span {
                color: #F16D7F;

            }
        }


    }

    .for_person {
        margin-top: 65px;
        margin-bottom: 96px;

        .a {
            display: block;
        }

        .for__img {
            width: 100%;
        }

        .for__parent {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .for__item {
            position: relative;
            flex-grow: 1;
        }

        .for__item__margin {
            margin-right: 30px;
        }

        .for__text__women {
            position: absolute;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            top: 105px;
            left: 103px;
        }

        .for__text__men {
            position: absolute;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            top: 105px;
            left: 125px;
        }

        .for__text__kids {
            position: absolute;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            top: 105px;
            left: 123px;
        }

        .for__text__accesories {
            position: absolute;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            top: 65px;
            left: 490px;
        }

        .for__text__color {
            color: $for-color;
            font-size: 24px;
        }

    }

    .item-sec{

    
            .item-heading {
                display: flex;
                justify-content: center;
                margin-top: 96px;
                margin-bottom: 6px;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: #222222;
            }

    
        
        
        .desc {
           display: flex;
           justify-content: center;
           margin-bottom: 48px;
           font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #9F9F9F;
        }

        .item-link {
            display: block;
            text-decoration: none;
            width: 360px;
        }
        
        .txt-box {
            padding: 20px;  
        }
        
        .item-desc {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        
        
        }
        
        .item-price {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
        }
        
        .item-pic {
            width: 100%;
        }
        
        .item {
            width: 360px;
            position: relative;
            margin-bottom: 30px;
        }
        
        .item:hover {
            box-shadow: 0 5px 8px rgb(0,0,0,0.16);
            width: 360px;
        }
        
        .item:hover .item-pic{
            filter: brightness(30%);
        }
        
        .add {
            display: flex;
            padding: 10px;
            align-items: center;
            border: 1px solid #fff;
            text-decoration: none;
            pointer-events: auto;
        }
        
        .add-box {
            display: none;
            position: absolute;
            top: 188px;
            width: 100%;
            justify-content: center;    
            pointer-events: none;
        }
        
        .add-desc {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            margin-left: 11px;
        }
        
        .add:hover {
            box-shadow: 0 0 10px #fff;
        }
        
        .item:hover  .add-box{
            display: flex;
        }
        
        .item-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .sec-button{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 100px;

            .button-sec {
                border: 1px solid $for-color;
                background-color: #fff;
                color: $for-color;
                padding: 14px 38px;
            }

            .button-sec:hover {
                background-color: $for-color;
                color: #fff;
            }
        }
        
    }

    .info {
        display: flex;
        min-height: 341px;
        background: #222224;

        .info__container {
            align-items: center;
            display: flex;
            justify-content: space-around;


            .info__card_1 {
                text-align: center;

                .h3__info {
                    margin-top: 28px;
                    margin-bottom: 16px;
                    font-size: 19.96px;
                    line-height: 24px;
                    color: #FBFBFB;
                }

                .p__info {
                    width: 360px;
                    font-size: 13.972px;
                    line-height: 17px;
                    text-align: center;
                    color: #FBFBFB;
                }
            }

            .info__card_2 {

                text-align: center;

                .h3__info {
                    margin-top: 19px;
                    margin-bottom: 16px;
                    font-size: 19.96px;
                    line-height: 24px;
                    color: #FBFBFB;
                }

                .p__info {
                    width: 360px;
                    font-size: 13.972px;
                    line-height: 17px;
                    text-align: center;
                    color: #FBFBFB;
                }
            }

            .info__card_3 {
                text-align: center;

                .h3__info {
                    margin-top: 25px;
                    margin-bottom: 16px;
                    font-size: 19.96px;
                    line-height: 24px;
                    color: #FBFBFB;
                }

                .p__info {
                    width: 360px;
                    font-size: 13.972px;
                    line-height: 17px;
                    text-align: center;
                    color: #FBFBFB;
                }
            }
        }
    }

    .subscribe {
        min-height: 448px;
        width: 100%;
        background: url(img/subscribe.png);
        background-repeat: no-repeat;

        .sub__content {
            display: flex;
            justify-content: space-between;
            min-height: 448px;
            align-items: center;


            .sub__info {
                text-align: center;

                .sub__face__text {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    max-width: 360px;
                    font-size: 20px;
                    line-height: 24px;
                    color: #222224;
                }
            }

            .sub__message {
                text-align: center;

                .sub__message__text {
                    font-family: 'Lato';
                    max-width: 557px;
                    font-size: 20px;
                    text-align: center;
                    color: #222224;
                    font-weight: normal;
                    line-height: 167.2%;
                    margin-bottom: 32px;

                    .sub__span {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                .sub__message__form {
                    display: flex;
                    justify-content: center;

                    .email {
                        background: #E1E1E1;
                        width: 256px;
                        height: 49px;
                        border: none;
                        border-top-left-radius: 20px;
                        border-end-start-radius: 20px;
                        padding-left: 20px;
                    }

                    .button__sub {
                        background: #F16D7F;
                        align-items: center;
                        color: #FFFFFF;
                        text-align: center;
                        border-end-end-radius: 20px;
                        border-top-right-radius: 20px;
                        height: 49px;
                        width: 100px;
                        border: none;
                    }
                }

            }
        }
    }
}

.footer {
    background: #222224;
    height: 79px;

    .footer__item {
        display: flex;
        justify-content: space-between;
    }

    .footer__text {
        margin-top: 30px;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    .footer__item__contact {
        margin-top: 24px;
    }



    .footer__inst:hover {
        background-image: url(svg/inst-pink.svg);
    }
}

@media (max-width: 1024px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }


    .top__item__imag {
        width: 80%;
        height: 80%;
    }

    .fetured_card {
        justify-content: space-around;
    }

    .for__text__women {
        top: 59px;
        left: 39px;
    }

    .for__text__men {

        top: 59px;
        left: 39px;

    }



    .info {

        .info__container {
            flex-direction: column;
        }

        .info__card_1 {
            margin-top: 48px;
            margin-bottom: 48px;
        }

        .info__card_2 {
            margin-bottom: 48px;
        }

        .info__card_3 {
            margin-bottom: 64px;
        }

    }


    .subscribe {

        height: 614px;

        .sub__content {
            height: 614px;
        }

        .sub__face {
            margin-top: 54px;
        }

        .sub__content {
            flex-direction: column;
            align-items: center;

            .sub__message__text {
                margin-bottom: 27px;
            }

            .sub__message__form {
                margin-bottom: 140px;
            }
        }
    }

}

//index.html end


//catalog.html start

.catalog {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .catalog__h1 {
        color: #F16D7F;
    }

    .item__catalog__nav {
        display: flex;

        .item__catalog {
            margin-left: 5px;
            list-style: none;
            color: black;
        }

        .item__cat {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
        }

    }

    .item__cat:hover {
        color: #F16D7F;
    }

}

.filter{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 65px;

    .filter__filter{
        display: flex;
        justify-content: space-around;
        position: relative;
        cursor: pointer;

        .filter__img{
            margin-left: 11px;
        }

        .filter__text{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }

        .filter-mega-box{
            z-index: 3;
            background: #FFFFFF;
            position: absolute;
            width: 360px;
            top: 15px;
            display: none;
        }

        .filter__filter:hover .filter-mega-box {
            display: flex;
            flex-direction: column;
        }
    
        .collection-detail {
            display: flex;
            flex-direction: column;
        }
    
        .filter__container {
            display: flex;
            align-items: center;
            border: 1px solid #EBEBEB;
            margin-top: 11px;
            margin-bottom: 11px;
    
            .fil-rect {
                width: 5px;
                height: 37px;
                background: $for-color;
                margin-right: 11px;
            }
    
        }

        .mega-link-fil{
            margin-bottom: 11px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }
 
        .last:hover .filter-mega-box {
            left: 0;
            right: auto;
        }

        .filter__text:hover , .collection-detail:hover ,.mega-link-fil:hover {
            color: $for-color;
        }
    
    }

    

    .other__filter {
        display: flex;
        justify-content: space-around;

        .other__fil__item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 28px;
            position: relative;
            cursor: pointer;

            .fil__text__item {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
            }

            .fil__pic__item{
                margin-left: 10px;
            }
        }

        .other-filter-mega-box{
            z-index: 3;
            background: #FFFFFF;
            position: absolute;
            width: 79px;
            padding: 5px;
            top: 15px;
            display: none;
            align-items: center;
        }
    
        .other__fil__item:hover .other-filter-mega-box {
            display: flex;
            flex-direction: column;
        }


        .label-box{
            display: flex;
            flex-direction: column;      
        }

        .label-size {
            display: flex;
            align-items: center;
        }

        .label-text{
            margin-left: 9px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;      
            color: #6F6E6E;
        }

    }
    

}

.carusel {
    margin-top: 48px;
    margin-bottom: 96px;
    display: flex;
    align-items: center;
    justify-content: center;

    .carusel-box {
        display: flex;
        width: 283px;
        height: 44px;
        align-items: center;
        justify-content: space-around;
    }

    .carusel-pic-left , .carusel-pic-right {
        cursor: pointer;
    }

    .number {
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 19px;
        color: #6F6E6E;
    }

    .number-box{
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 19px;
        color: #6F6E6E;
    }

    .number:hover , .number-box:hover {
        color: $for-color;
    }
}



//catalog.html end


//product.html start

.image-slide {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
    
    .slide__box__left, .slide__box__right{
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);

        .slide-pic {
            margin-top: 12px;
            margin-left: 16px;
        }
    }


}

.product-description {
    
   display: flex;
   align-items: center;
   flex-direction: column;

    .collection{ 
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 17px;
        color: #F16D7F;
    }

    .rectangle-prod {
        margin-top: 12px;
        margin-bottom: 12px;
        height: 3px;
        width: 63px;
        background: $for-color;
    }

    .collection-text {
        margin-bottom: 49px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    .collection-desc {
        width: 555px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }

    .collection-prise {
        margin-top: 32px;
        margin-bottom: 65px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
    }

    .rectangle-prise {
        margin-bottom: 65px;
        width: 641px;
        height: 1px;
        background: $for-color;
    }

    .collection-menu {
        display: flex;
        margin-bottom: 48px;
       
        .collection-detail{
            margin-right: 22px;
        }

        .detail-strl{
            margin-left: 9px;
        }
    }

    .colletion-button {
        border: 1px solid $for-color;
        display: flex;
        align-items: center;
        padding: 12px 23px;
        margin-bottom: 194px;

        .coll-but-text {
            margin-right: 23px;
            margin-left: 23px;
            color: $for-color;
        }


    }
    .colletion-button:hover {
        filter: brightness(80%);
    }
   
}

//product.html end


//cart.html start

//cart.html end


//registration.html start

.registration {
    height: 148px;
    margin-top: 60px;

    .reg_text {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;


    }
}

.registration_form {

    height: 611px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;

    .form {

        .contact-h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        .pol {
            display: flex;
            margin-top: 30px;
            margin-bottom: 33px;

            .pol__input {
                margin-right: 10px;
            }

            .pil {
                margin-left: 20px;
            }
        }

        .message-form {
            width: 360px;
            height: 45px;
            margin-top: 20px;
            padding-left: 16px;
        }

        .text__form {
            width: 360px;
            margin-top: 15px;
            font-size: 15px;
            color: #B1B1B1;
        }

        .join__now {
            cursor: pointer;
            margin-top: 39px;
            border: none;
            background: #F16D7F;
            padding: 17px 66px 16px 29px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }

        .join__now:hover {
            opacity: 0.9;
        }
    }

    .form__text {
        width: 652px;
        margin-left: 22px;

        .form__text__h3 {
            font-size: 24px;
            color: #000000;
            margin-bottom: 22px;
        }

        .form__text__p {
            font-weight: 300;
            line-height: 29px;
            font-size: 24px;
            color: #000000;
            margin-bottom: 21px;
        }

        .text__item {
            font-weight: 300;
            font-size: 24px;
            color: #000000;
            margin-bottom: 16px;
            margin-left: 25px;
        }
    }

    .form__text__item {
        list-style-image: url(/svg/form__item.svg)
    }
}

//registration.html end